.FriendsPage-container {
    background-color: #0A0A0A;
    display: flex;
    padding: 8px;
    height: 92vh;
}

.FriendsPage-search {
    flex:1;
}

.FriendsPage-requests {
    flex:1;
}

.FriendsPage-list {
    flex:1;
}