.FriendsPage-container {
    background-image: linear-gradient(#1e1e1e, gray);
    display: flex;
    padding: 8px;
    height: 92vh;
}

.FriendsPage-search {
    flex:1;
}

.FriendsPage-requests {
    flex:1;
}

.FriendsPage-list {
    flex:1;
}