.HomePage-container {
    background-image: linear-gradient(#1e1e1e, gray);
    display: flex;
    padding: 8px;
    height: 92vh;
}

.HomePage-leftside {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage-rightside {
    flex:1;
    display: flex;
    text-decoration: underline;
    color: white;
    align-items: center;
    
}

.HomePage-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.5vw;
    height: 37.5vw;
    border-radius: 50%;
    background-color: lightgray;
    vertical-align: middle;
    
}

