.HonePage-large-container{
    display: flex;
    flex-direction: column;
    
}
.HomePage-container {
    /* background: linear-gradient(180deg, #130E0E 0%, #272727 100%); */
    /* 0C0C0C */
    background-color: #0A0A0A;
    display: flex;
    padding: 8px;
    height: 95vh;
    overflow: auto;
    
}

.HomePage-leftside {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage-rightside {
    margin-top: 6px;
    flex:1;
    display: flex;
    text-decoration: underline;
    color: white;
    align-items: center;
    font-size: xx-large;

    font-family: 'Montserrat', sans-serif;
    
font-size: 40px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: left;

    
}

.HomePage-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5vw;
    height: 27.5vw;
    border-radius: 50%;
    background-color: lightgray;
    vertical-align: middle;
    
}
.HomPage-motto{
    font-size: x-small;
}
.HomePage-second{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: inherit;
   
    
}
.HomePage-third{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 92vh;
    
}
