.HomePage-container {
    background-image: linear-gradient(#1e1e1e, gray);
    display: flex;
    padding: 8px;
    height: 92vh;

}

.category-container {
    box-sizing: border-box;

position: absolute;
width: 224px;
height: 31px;
left: 36px;
top: 229px;


}
.second-box{
    width: 224px;
height: 34px;
left: 86px;
top: 480px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

th,td {
    border: 1pm solid black;
    padding: 10px;
}

#data {
    margin-bottom: 10px;
}
#data input, button {
    padding: 10px;
    width: 90px;
}