.ProfilePage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0A0A0A;
    padding: 8px;
    height: 95vh;
    overflow: auto;
    width: auto;
}

.ProfilePage-chart {
    grid-column: 1;
    grid-row: 1;
    padding: 8px;
}

.ProfilePage-progression {
    grid-column: 1;
    grid-row: 2;
}

.ProfilePage-bio {
    grid-column: 2;
    grid-row: 1;
}

.ProfilePage-friends {
    grid-column: 2;
    grid-row: 2;
}