.ProfilePage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0A0A0A;
    padding: 8px;
    height: 95vh;
    overflow: auto;
    width: auto;
}

.ProfilePage-chart {
    grid-column: 1;
    grid-row: 2;
    padding: 8px;
}

.ProfilePage-progression {
    grid-column: 2;
    grid-row: 1;
}

.ProfilePage-bio {
    grid-column: 1;
    grid-row: 1;
}

.ProfilePage-friends {
    grid-column: 2;
    grid-row: 2;
    background: #1d1c1c;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    height: 280px;
    margin-right: 10px;
    /* text-align: right; */
}
.outer-shell{
   text-align: right;
    right: 20px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;

border: 1px solid #E9E9E9;
   
    
}