.Navbar-post-container {
    background-color: #232528;
    display: flex;
    color: white;
    border-bottom: 2px yellow;
    height: 8vh;
}

.Navbar-post-image {
    flex: 1;
    width: 40px;
}

.Navbar-post-name {
    flex: 3;
    align-self: center;
}

.Navbar-post-button {
    flex: 3;
    margin: 4px;
    border: none;
    background-color: #232528;
    color: white;
}

.Navbar-post-logout {
    flex: 3;
    margin: 8px 64px;
    border: none;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 16px;
    
}